# -*- coding:utf-8 -*-
今日は何曜日か 思いだせない
あくびしてる間に 吹きとばせる 青春の日々 人生の機微
止まりたくても 止まれない
そんな非力を 痛いほど感じて 走る日々 揺れるキミ
Close your eyes はるかきた道
No more sighs どこへ行く
ふるさとの 優しい雨
強く握りかえす やわらかい手
セメナキャイケナイ (ALL-OUT ATTACK)
キメナキャイケナイ (ALL-OUT ATTACK)
そんな時が 来るきっと 否応なく
ヤンナキャイケナイ (ALL-OUT ATTACK)
トバナキャイケナイ (ALL-OUT ATTACK)
失ってもyeah
生まれてきた意味を知るために
やるせない事情にゃ 逆らえない
我が身を守ることで テンパってる 小さなボク ハート脆く
捨て身でここを とび出せない
いつかあの人の 心も離れ お気の毒 自業自得
Know your fears だれにだって
No more tears 愛してしまうものがある
肩を抱く 友の声
卒業の日 頬をなでる風
高い空 じっと見上げて
手をのばしたのは 確かにボク
セメナキャイケナイ (ALL-OUT ATTACK)
キメナキャイケナイ (ALL-OUT ATTACK)
そんな時が 来るきっと 否応なく
ヤンナキャイケナイ (ALL-OUT ATTACK)
トバナキャイケナイ (ALL-OUT ATTACK)
失ってもyeah
生まれてきた意味を知るために夕焼けの街は激しさをそっと忘れてる
いつか見た空が 僕の心を帰すよ どこかに
新しい暮らしにも 少しは慣れてきたけど
勝手な僕は 君を思い出す
ALONE 僕らはそれぞれの花を
抱いて生まれた 巡り逢うために
色づく舗道は懐かしい風の香り
誰もが胸の奥によく似た夕陽を持ってる
枯れることを知らない 涙の色は今でも
夢を語った あの頃と同じ

ALONE 空を見上げればひとり
がむしゃらな情熱がふわふわと笑うよ
いつかいなくなるようなそんな気がしてたけど
時代がまわり また君を見つけるだろう

ALONE 恋に落ちてゆけばひとり
光にさらして この心焦がそう
You're gone いつまでも 歌い続ける声は
どこまで届くだろう 今 君に逢いたいただ強く 抱きしめりゃよかった
わかってるのに 何もできず
白い月は刀のようにとんがり
僕のゆく道ぼんやり照らす
いま踏み出そう ぐっと前に踏み出そう
優しさがズブリ胸につき刺さる
Now it's time to go,Now it's time to glow
痛くてもせつなくても このまま行こう
歩き続けた先に 見たいのは
想像を超える風と光 そこに誰もいなくても
雨粒が ひとつふたつ割れて
空を見上げ 口に含む
君が泣いてたこと知ってるけど
それを君だって知ってたんだろう
いま踏み出そう ぐっと前に踏み出そう
愛しさが小さな胸に溢れ出す
Now it's time to go,Now it's time to glow
苦くてもしょっぱくても 飲み込んでしまおう
思うのは君のことで それだけでいい
扉をあけてみよう そこに誰もいなくても
いつか見ていた空 たぶんこれは
いつか聞いてたstory
ありがとう ありがとう
ありがとう ありがとう

星は消え 影も消える
それでもいい何度電話しただろう 受話器置いてもう出かけよう
さみしい首都高 憑かれたように走れ
いやいやでも 仕方なしでもいい部屋に入れて
月はオレンジの頼りないBABY MOON
今夜 ダメになりそう
他に行く所も特にない
Ah こんな僕を見ても
君は可愛く笑ってるだけでしょう
大人びてるアイスレモンティー 氷がグラスで音たてるたびに
僕は狂った犬になって 噛みそう
ああもう ヘンになってくる
君の光を浴びるほどに
教えて この関係どう思う?
青少年なこの気持ち弄べよ
BABY, I'm BABY MOON 石になりそう
君の光を浴びないと
You're the SUN 僕だけを照らして
ああもうどうでもいい いっそ始めてしまおう
ねぇ ギクシャクしてみようCrazy in my mind ときどき感じてる
kissは交わしたけど 名前も知らない
Is it love? それとも
Oh I don't know wow wow wow wow wow wow
いつでも Makin' love 君じゃなくても
真っ赤なバラの花びらで 直立不動 nights
